.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button{
    color: #fff;
    background-color: #395697;
    border: none;
    padding: 10px 30px;
    transition: all ease 0.3s;
}
.login button:hover{
    color: #395697;
    background-color: #fff;
}